@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-100 antialiased;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    @apply bg-gray-900;
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-full hover:bg-gray-600;
}